In [25]:

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
hd=pd.read_csv('.\dataset\heart_disease_data.csv')
hd.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
hd.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [4]:
hd['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

In [5]:
x=hd.drop(columns='target' , axis =1)
y=hd['target']

In [6]:
print(x)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]

In [7]:
print(y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [8]:
x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=0.2,random_state=4,stratify=y)

# model Logestic regression

In [9]:
model =LogisticRegression()

In [10]:
model.fit(x_train,y_train)

c:\Users\kavi\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [26]:
x_train.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
207,60,0,0,150,258,0,0,157,0,2.6,1,2,3
213,61,0,0,145,307,0,0,146,1,1.0,1,0,3
111,57,1,2,150,126,1,1,173,0,0.2,2,1,3
225,70,1,0,145,174,0,1,125,1,2.6,0,0,3
17,66,0,3,150,226,0,1,114,0,2.6,0,0,2

In [11]:
predict_train = model.predict(x_train)
ac=accuracy_score(predict_train,y_train)
print(ac)

0.8305785123966942

In [12]:
predict_test = model.predict(x_test)
ac=accuracy_score(predict_test,y_test)
print(ac)

0.8852459016393442

# evaluate

In [13]:
# inp=(6,148,72,35,0,33.6,0.627,50)
inpt =(64,1,3,110,211,0,0,144,1,1.8,1,0,2)
cnv_inp=np.asarray(inpt)
print(type(cnv_inp),cnv_inp.shape)

<class 'numpy.ndarray'> (13,)

In [14]:
rshp=cnv_inp.reshape(1,-1)

In [15]:

# add feature names to input data
feature_names = ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal']
inpt = [64, 1, 3, 110, 211, 0, 0, 144, 1, 1.8, 1, 0, 2]
hd_input = pd.DataFrame([inpt], columns=feature_names)

# predict using the model
predict = model.predict(hd_input)
print(predict)

[1]

In [16]:
predict = model.predict(rshp)
print(predict)

[1]

c:\Users\kavi\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

In [17]:
print(predict)

[1]

In [19]:
import pickle

In [20]:
filename = "heart_disease_model.sav"
pickle.dump(model,open(filename,"wb"))

In [21]:
load_model = pickle.load(open(filename,"rb"))

In [22]:
# inp=(6,148,72,35,0,33.6,0.627,50)
inpt =(64,1,3,110,211,0,0,144,1,1.8,1,0,2)
cnv_inp=np.asarray(inpt)
print(type(cnv_inp),cnv_inp.shape)
rshp=cnv_inp.reshape(1,-1)

<class 'numpy.ndarray'> (13,)

In [23]:
predict = load_model.predict(rshp)
print(predict)

c:\Users\kavi\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

[1]

In [24]:
import pickle
import numpy as np

load_model = pickle.load(open("D:/DataSci/heart_disease_model.sav","rb"))
# inp=(6,148,72,35,0,33.6,0.627,50)
inpt =(64,1,3,110,211,0,0,144,1,1.8,1,0,2)
cnv_inp=np.asarray(inpt)
print(type(cnv_inp),cnv_inp.shape)
rshp=cnv_inp.reshape(1,-1)
predict = load_model.predict(rshp)
print(predict)

<class 'numpy.ndarray'> (13,)
[1]

c:\Users\kavi\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"